header{
	background-color: #323232;
	height: 60px;
	display: block;
	position: relative;
	width: 100%;
}
header img{
height: 50px;
width: 50px;
}

.top_menu{
 display: flex;
 max-width: 700px;
 text-align: center;
 margin: 0 auto;
}

.top_menu li{
	 color: white;
	 display:inline-block;
	 margin: 0 auto;
	 padding: 20px;
}
header:after{
    content: "";
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 39px solid transparent;
    border-top: 40px solid #323232;
    position: absolute;
    left: 50%;
    top: 60px;
    bottom: 0px;
    transform: translateX(-46px);
    z-index: 99;
}



/* шестиугольники  */
.hexagon {
	width: 180px;
	height: 203px;
	background: red;
	position: relative;
	display: inline-block;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: 0px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid #fff;
	border-right: 90px solid #fff;
	border-bottom: 54px solid transparent;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: 0px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid #fff;
	border-right: 90px solid #fff;
	border-top: 54px solid transparent;
}
.hexagon img{
	width: 180px;
	height: 203px;

}
.row{
	  text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.row2{
	text-align: center;
	margin-top: 0px;
}
.row3{
	text-align: center;
	margin-top: 0px;
}
.designer{
	position: relative;
	height: 200px;
	background-color: #00B295;
	z-index: 8;
	padding: 68px 120px;
	display: flex;
	margin-top: 20px;

}
.designer h1{
	color: #C3FFFF;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 10px;
}
.designer h3{
	color: #148B75;
}

  .contetnt{
	display: block;
	position: absolute;
	width: 100%;
	height: 340px;
	text-align: center;
  }

  .content p{
	display: block;
	margin-top: 20px;
	color: #fff;
	font-size: 18px;
	color: #BEFFFC;
  }

/* портфолио  */
  .hexagon1 {
	  width: 180px;
    height: 203px;
    background: #F154;
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  .hexagon1:before {
	content: "";
	position: absolute;
	top: 0px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid #00B295;
	border-right: 90px solid #00B295;
	border-bottom: 54px solid transparent;
  }
  .hexagon1:after {
	content: "";
	position: absolute;
	bottom: 0px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid #00B295;
	border-right: 90px solid #00B295;
	border-top: 54px solid transparent;   
  }
  .hexagon1 img{
	width: 180px;
	height: 203px;
	display: inline;
	}
	.social {
		width: 200px;
		text-align: right;
		position: relative;
		display: flex;
		padding: 20px 0px;
   right: 10px;
   margin:0 20px 10px auto;
	}
	.social img{
		background-color: white;
	}
	.communication{
		height: 560px;
		background-color: #2B2B2B;
		position: relative;
		
	  display: flex;
	 }
	.form{
	 	height: 400px;
	 	width: 700px;
	 	text-align: center;
	  padding-top: 60px;
	  padding-left: 100px;
	  padding-bottom: 60px;
	  padding-right: 60px;
	  display: inline-block;
	 }
	 .form h2{
	 	font-size: 18px;
	 	text-align: left;
	 	color: #DFDFDF;
	 }
	 .form p{
	 	font-size: 15px;
	 	text-align: left;
	 	color: #DFDFDF;
	 }
	 input {
	 	display: block;
	 	width: 100%;
	 	background-color: #444444;
	 	height: 40px;
	 	margin-bottom: 15px;	
	 	margin-right: 25px;	
	 	border: 1px solid #444444;
	 	padding-left: 10px;
	 	outline: none;
	 }
	 button{
	 	display: block;
	 	margin-left: auto;
	 	height: 40px;	
	 	width: 90px;	
	 	background-color: #3EAF92;
	 	outline: none;
	 	border: 1px solid #3EAF92;
	 	color: #C8FDF0;
	 	text-align: center;
	 }
	 .contacts{
	 	top: 10px;
	 	color: white;
	 	display: inline-block;
	 	margin-top: 125px;
	 	width: 180px;
	 	height: 230px;
	 	color: #DFDFDF;
	 }
	 span{
	
	font-weight: 900;
  }
	 .link{
	 	width: 20px;
	 	height: 20px;
	 	display: block;
	 }
	 .link img{
	 	margin-right: 15px;
	 	width: 100%;
	 	width: 16px;
	 	height: 16px;
	 }

	  .place{
	 	width: 100%;
	 	display: flex;
	 	width: 190px;
	 	margin: 15px 0;
	 }
	 .mail{
	 
	 	display: flex;
	 	width: 190px;
	 	margin: 15px 0;
	 }
	 .tel{
	 	width: 100%;
	 	display: flex;
	 	width: 190px;
	 	margin: 15px 0;
	 }
	 footer{
	 	width: 100%;
	 	height: 40px;
	 	background-color: #151515;
	 	color: #3D3D3D;
	 	padding-left: 40px;
	 }
	 footer p{
	 	padding-left: 40px;
		padding-top: 7px;
	 }
	
	 

	
